
<nav class="navbar bg-base-200">
    <div class="navbar-start">
        <ul class="menu menu-horizontal">
            <li><a href="/">Home</a></li>
        </ul>
    </div>
    <div class="navbar-end">
    </div>
</nav>
